body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  font-family: monospace;
  color: green;
}

ul {
  padding-left: 8px;
}

ul li {
  list-style-type: none;
}

.post>span, .author, .timestamp {
  display: block;
}

.clickable {
  cursor: pointer;
}
